TOKEN=
OPENWEATHER_KEY=
GEMINI_KEY=

# Dashboard Admin Panel
NODE_ENV=dev
DASHBOARD_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
SESSION_SECRET=

GITHUB_WEBHOOK_SECRET=

DATABASE_URL=DATABASE_URL=postgresql://USER:PASSWORD@IP:5432/DBNAME